In [1]:
import pandas as pd
import numpy as np
from sklearn.neighbors import KNeighborsClassifier
import category_encoders as ce

In [2]:
dict1 = {'Age' : [32 , 40 , 10 , 34 , 55 , 40 , 20 , 15 , 55 , 15 ],
        'Gender' : ['M', 'M' ,'F' , 'F' ,'M' , 'M' , 'F' ,'M' ,'F' , 'M' ] , 
        'Skill' : ['Reading' , 'Neither' , 'Writing' , 'Writing' , 'Neither', 'Writing' , 'Neither', 'Writing' , 'Reading' ,'Reading']}

In [3]:
df = pd.DataFrame(dict1)

In [4]:
df

   Age Gender    Skill
0   32      M  Reading
1   40      M  Neither
2   10      F  Writing
3   34      F  Writing
4   55      M  Neither
5   40      M  Writing
6   20      F  Neither
7   15      M  Writing
8   55      F  Reading
9   15      M  Reading

In [5]:
ordEn = ce.OrdinalEncoder()
df = ordEn.fit_transform(df)

In [6]:
X = df[['Age' , 'Gender']]
y = df['Skill']

In [15]:
knn = KNeighborsClassifier(n_neighbors=10)
knn.fit(X , y)
pred = knn.predict([[18 , 2]])
distance = knn.kneighbors( [[18 , 2 ]] , return_distance=True)

C:\Users\salos\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(
C:\Users\salos\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)
C:\Users\salos\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(

In [16]:
df['distance'] = distance[0][0]
df['index'] = distance[1][0]

In [17]:
tmp= df[['distance' , 'index']]
tmp = tmp.sort_values('index')
tmp.reset_index(inplace=True)

In [18]:
df.drop(['distance' , 'index'] , axis =1 ,inplace=True)
df['distance'] = tmp['distance']

In [19]:
df.sort_values('distance')

   Age  Gender  Skill   distance
6   20       2      2   2.000000
7   15       1      3   3.162278
9   15       1      1   3.162278
2   10       2      3   8.000000
0   32       1      1  14.035669
3   34       2      3  16.000000
1   40       1      2  22.022716
5   40       1      3  22.022716
8   55       2      1  37.000000
4   55       1      2  37.013511

In [20]:
print(pred)

[3]